
body {
	background-color: #2274a5;
	font-family: 'Open Sans';
	color: white;
}

header{
	background-color: #305252;
}

.container-fluid {
	margin: 0;
}

#mobile-nav .container {
	padding: 0;
}

.row {
	margin: 0;
}

#branding {
	display: inline-block;
	color: white;
	padding: 10px;
	margin: 0 50px;
}

#branding img {
	display: inline-block;
	vertical-align: text-middle;
}

#branding h1 {
	font-family: 'Pacifico';
	font-size: 50px;
	text-shadow: 2px 2px black;
	display: inline-block;
	margin: 0 0 0 15px;
}

#branding h2 {
	font-size: 16px;
	margin: -15px 0 0 100px;
	font-style: italic;
}

#main_navigation a {
	text-transform: uppercase;
	font-weight: 600;
}

#main_navigation a:hover {
	color: #333;
}

.call_to_action {
	width: 80%;
	color: white;
	font-size: 80px;
	font-weight: 300;
	text-align: center;
	padding-top: 100px;
	margin: 0px auto;
}

.page_heading {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	padding: 25px 0;
	border-bottom: 3px solid white;
}

.center {
	text-align: center;
}

.center-block {
	display: block;
	margin: 0 auto;
}

a {
	color: white;
}

#show_user_sidebar img {
	margin-top: 10px;
	border: 2px solid black;
	box-shadow: 1px 1px 2px black;
}

#show_user_right_sidebar {
	border-radius: 10px;
}

.progressbar {
	width: 60%;
}

#user_intro {
	width: 80%;
	padding: 25px 0;
}

.user_info {
	padding: 40px;
	height: 450px;
}

.headshot {
	width: 80%;
	border-radius: 10px;
	border: 3px solid white;
	text-align: center;
}

.show_user_pic {
	width: 100%;
	border-radius: 10px;
	border: 3px solid white;
	text-align: center;
}

.user_match {
	width: 100%;
	padding: 5px 5px;
}

.profile_pic {
	width: 200px;
}

.one_gallery_pic {
	min-height: 350px;
	
}

.img_btn {
	
}

#user_answers {
	width: 75%;
	margin: 25px auto;
	padding: 50px;
	font-size: 20px;
	background-color: #333;
}

#user_answers table {
	width: 100%;
}

#user_answers td, #user_answers textarea {
	padding: 5px;
}

#user_answers textarea {
	width: 100%;
	min-height: 200px;
	margin: 0 auto;
}

#user_answers input[type='submit']{
	display: block;
	width: 100%;
}

.advertisement {
	width: 100%;
}

#file_upload {
	border: 2px solid white;
	border-radius: 5px;
	width: 40%;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}

#message_form {
	padding: 50px;
}

#message_form textarea {
	display: block;
	width: 60%;
	margin: 50px auto;
	color: #333;
}

#message_form h2 {
	font-size: 20px;
}

.conversations {
	font-size: 25px;
	padding: 5%;
}

.conversations h2 {
	width: 40%;
	font-size: 30px;
}

.conversations textarea {
	min-width: 400px;
	color: #333;
}

.conversations input {
	min-width: 400px;
}

.message_img {
	max-width: 150px;
	border-radius: 10px;
	border: 3px solid white;
}

/*************************
    Small-screen devices
*************************/
@media only screen and (max-width: 768px) {
	header .col-xs-12 {
		padding: 0;
	}

	#mobile-nav {
		background-color: #305252;
        position: fixed;
        z-index: 99;
        top: 0;
        width: 100%;
        border: 3px solid black;
    }

    #mobile-nav img, #mobile-nav h1 {
    	display: inline-block;
    }

    h1.branding {
    	font-family: 'Pacifico';
    	vertical-align: bottom;
    	margin-left: 15px;
    }

    .headshot {
    	width: 400px;
    }

}
