{% include 'dating_app/header.html' %}
	 {% load staticfiles %}

  <script>
  $( function() {
    $( "#progressbar" ).progressbar({
      value: 100
    });
  } );
  </script>
  <style type="text/css">
  	#user_answers {
  		color: #333;
  	}

  	#user_answers textarea {
  		font-size: 14px;
  	}
  </style>


<div id="container-fluid">
	<div class="row">
		<div class="col-sm-2 center-block">
			<img class="img-responsive" src="{% static 'dating_app/17.jpg' %}" alt="{{ request.session.username }} profile pic">
			<br>
			<a class="btn btn-success center center-block" href="edit_image.html">Change Profile Image</a>
			<br>
			Account status: <br>
			<input type="checkbox" id="toggle_account">
			<br><br>
		</div> <!-- .col -->
		<div class="col-sm-8">
			<h1 class="page_heading">Edit Profile</h1>
			<br>
			<span class="center center-block">100% complete</span>
			<div id="progressbar" class="center-block"></div>
			<br>

			<!-- User Answers -->
			<div id="user_answers">
				<form action="{% url 'dating:update_user' answer_id=answers.id %}" method="post">
					{% csrf_token %}
					<!-- User's 'about_you' field might be blank, but if it's not, display its contents -->
					<textarea name="html_about_you" class="center-block">{% if answers.about_you == "" %}Tell your potential matches about yourself...{% else %}{{answers.about_you}}{% endif %}</textarea>
					<table>
						<tr>
							<td><label class="label label-info">Name:</label></td>
							<td><input type="text" name="html_name" value="{{user.name}}"></td>
						</tr>
						<tr>
							<td><label class="label label-info">Username:</label></td>
							<td><input type="text" name="html_username" value="{{user.username}}"></td>
						</tr>
						<tr>
							<td><label class="label label-info">Age:</label></td>
							<td><input type="text" name="html_age" value="{{user.age}}"></td>
						</tr>
						<tr>
							<td><label class="label label-info">Gender:</label></td>
							<td>
								<select name="html_gender">
		  							<option value="{{answers.gender}}"></option>
								    <option value="male">Male</option>
								    <option value="female">Female</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><label class="label label-info">Height:</label></td>
							<td><input type="text" name="html_feet" value="{{answers.feet}}">
							<input type="text" name="html_inches" value="{{answers.inches}}"></td>
						</tr>
						<tr>
							<td><label class="label label-info">Favorite language:</label></td>
							<td>
								<select name="html_language">
							      <option value="{{answers.language}}"></option>
							      <option value="Python">Python</option>
							      <option value="Html">Html</option>
							      <option value="Javascript">Javascript</option>
							      <option value="Ruby">Ruby</option>
										<option value="C++">C++</option>
										<option value="PHP">PHP</option>
										<option value="Java">Java</option>
										<option value="R">R</option>
										<option value="Swift">Swift</option>
							    </select>
							</td>
						</tr>
						<tr>
							<td><label class="label label-info">Preferred stack:</label></td>
							<td>
								<select name="html_stack">
							      <option value="{{answers.stack}}"></option>
							      <option value="full">Full Stack</option>
							      <option value="front">Front-End</option>
							      <option value="back">Back-End</option>
							    </select>
							</td>
						</tr>
						<tr>
							<td><label class="label label-info">Religion:</label></td>
							<td>
								<select name="html_religion">
							      <option value="{{answers.religion}}"></option>
							      <option value="Mac">Mac</option>
							      <option value="Windows">Windows</option>
							      <option value="Linux">Linux</option>
							    </select>
							</td>
						</tr>
						<tr>
							<td><label class="label label-info">Smokes</label></td>
							<td>
								<select name="html_smoke">
							      <option value="{{answers.smoke}}"></option>
							      <option value="True">True</option>
							      <option value="False">False</option>
							    </select>
							</td>
						</tr>
						<tr>
							<td><label class="label label-info">Body type:</label></td>
							<td>
								<select name="html_body_type">
							      <option value="{{answers.body_type}}"></option>
							      <option value="slender">Slender</option>
							      <option value="Big and Beautiful">Big and Beautiful</option>
							      <option value="curvy">Curvy</option>
							      <option value="about average">About Average</option>
							      <option value="full-figured">Full-figured</option>
							      <option value="heavyset">Heavyset</option>
							      <option value="a few extra pounds">A few extra pounds</option>
							      <option value="stocky">Stocky</option>
							    </select>
							</td>
						</tr>
						<tr>
							<td><label class="label label-info">Ethnicity:</label></td>
							<td>
								<select name='html_ethnicity'>
							      <option value="{{answers.ethnicity}}"></option>
							      <option value="white">White</option>
							      <option value="african american">African American</option>
							      <option value="asian">Asian</option>
							      <option value="american indian">American Indian or Alaska Native</option>
							      <option value="hispanic">Hispanic or Latino</option>
							    </select>
							</td>
						</tr>
						<tr>
							<td><label class="label label-info">Wants children:</label></td>
							<td>
								<select name="html_wants_children">
							      <option value="{{answers.wants_children}}"></option>
							      <option value="True">True</option>
							      <option value="False">False</option>
							    </select>
							</td>
						</tr>

					</table>
					<input class="btn btn-danger center-block" type="submit" value="Update">
				</form>
			</div> <!-- #user_answers -->
		</div> <!-- .col -->
	</div> <!-- .row -->
</div> <!-- #container-fluid -->

<script>
	$(document).ready(function () {
		$("#toggle_account").toggleSwitch(onLabel="Active");
	});
</script>
</body>
</html>
