{% include 'dating_app/header.html' %}
{% load staticfiles %}
<div id="container-fluid">
	<h1 class="page_heading">Home</h1>
	<div class="row">
		{% if match or match2 %}

		<!-- Matched With You -->
		<h1>Matched with you</h1>
		{% endif %}
	{% for user in match %}
		<div class="col-sm-3 user_info">
			<a href="{% url 'dating:show_user' user_id=user.user2_id %}">
				<img class="headshot" src="{% static 'dating_app/' %}{{user.user2.profile_pic_url}}" alt="Denzel Washington"><br>
				<h4>{{user.user2.username}}</h4>
			</a>
			<br>
			height: {{user.user2.my_answers.feet}} ' {{user.user2.my_answers.inches}} ''<br>
			Smokes: {{user.user2.my_answers.smoke}}<br>
			Wants children: {{user.user2.my_answers.wants_children}}<br>
			Romance language: {{user.user2.my_answers.language}}<br>
			Religion: {{user.user2.my_answers.religion}}<br>
			Percent Match: {{user.percent_match}} %
			<a class="btn btn-success" href="{% url 'dating:like_user' user_id=user.user2.id %}">Like</a>

		</div> <!-- .col -->
		{% endfor %}
		{% for user in match2 %}
		<div class="col-sm-3 user_info">
			<a href="{% url 'dating:show_user' user_id=user.user1_id %}">
				<img class="headshot" src="{% static 'dating_app/' %}{{user.user1.profile_pic_url}}" alt="{{user.user1.username}}"><br>
				<h4>{{user.user1.username}}</h4>
			</a>
			<br>
			height: {{user.user1.my_answers.feet}} ' {{user.user1.my_answers.inches}} ''<br>
			Smokes: {{user.user1.my_answers.smoke}}<br>
			Wants children: {{user.user1.my_answers.wants_children}}<br>
			Romance language: {{user.user1.my_answers.language}}<br>
			Religion: {{user.user1.my_answers.religion}}<br>
			Percent Match: {{user.percent_match}} %
			<a class="btn btn-success" href="{% url 'dating:like_user' user_id=user.user1.id %}">Like</a>

		</div> <!-- .col -->
		{% endfor %}
		</div> <!-- .row -->

		<div class="row">
			<h1>Looking for Love</h1>
			{% for user in all_users %}
			<div class="col-sm-3 user_info">
				<a href="{% url 'dating:show_user' user_id=user.id %}">
					<img class="headshot" src="{% static 'dating_app/' %}{{user.profile_pic_url}}" alt="{{user.username}}"><br>
					<h4>{{user.username}}</h4>
				</a>
				<br>
				height: {{user.my_answers.feet}} ' {{user.my_answers.inches}} ''<br>
				Smokes: {{user.my_answers.smoke}}<br>
				Wants children: {{user.my_answers.wants_children}}<br>
				Romance language: {{user.my_answers.language}}<br>
				Religion: {{user.my_answers.religion}}<br>
				<a class="btn btn-success" href="{% url 'dating:like_user' user_id=user.id %}">Like</a>

			</div> <!-- .col -->
		{% endfor %}
	</div> <!-- .row -->
</div>
