{% include 'dating_app/header.html' %}
	 {% load staticfiles %}

  <script>
  $( function() {
    $( ".progressbar" ).progressbar({
      value: 100
    });
  } );
  </script>

<div id="container-fluid">
	<div class="row">
		<!-- Left Sidebar -->
		<div id="show_user_sidebar" class="col-sm-2 center-block">
			<img class="img-responsive" src="{% static 'dating_app/' %}{{user_pic}}"  alt="{{ request.session.username }} profile pic">
			<br>

			<!-- If this is the current user's profile, show edit buttons -->
			{% if user.id == request.session.user_id %}
				<a class="btn btn-success center center-block" href="edit_image.html">Change Image</a>
				<br>
				Account status: <br>
				<input type="checkbox" id="toggle_account">
				<br><br>
				<a class="btn btn-danger center-block" href="{% url 'dating:edit_user' user_id=request.session.user_id %}">Edit Profile</a>

			<!-- Or if this is not the current user's profile, show poke, message, etc. buttons -->
			{% else %}
				<a class="btn btn-success center-block" href="poke.html">Poke Me</a>
				<br>
				<a class="btn btn-primary center-block" href="{% url 'dating:new_message' receiver_id=user.id %}">Message Me</a>

			{% endif %}

		</div> <!-- .col -->

		<!-- Main Content (Center) -->
		<div class="col-sm-8">
			<img >
			<h1 class="page_heading">{{user.username}}</h1>
			<br>
			<span class="center center-block">100% complete</span>
			<div class="progressbar center-block"></div>
			<br>
			<!-- User's 'about_you' field might be blank, but if it's not, display its contents -->
			<p id="user_intro" class="center-block">
				{% if answers.about_you == "" %}
					Tell your potential matches more about yourself <a href="{% url 'dating:edit_user' user_id=request.session.id %}"> here </a>
				{% else %}
					{{answers.about_you}} 
				{% endif %}
			</p>

			<!-- User Answers -->
			<div id="user_answers">
				<table>
					<tr>
						<td><label class="label label-info">Name:</label></td><td>{{user.name}}</td>
					</tr>
					<tr>
						<td><label class="label label-info">Age:</label></td><td>{{user.age}}</td>
					</tr>
					<tr>
						<td><label class="label label-info">Gender:</label></td><td>{{answers.gender}}</td>
					</tr>
					<tr>
						<td><label class="label label-info">Height:</label></td><td>{{answers.height}} inches</td>
					</tr>
					<tr>
						<td><label class="label label-info">Favorite language:</label></td><td>{{answers.language}}</td>
					</tr>
					<tr>
						<td><label class="label label-info">Preferred stack:</label></td><td>{{answers.stack}}</td>
					</tr>
					<tr>
						<td><label class="label label-info">Religion:</label></td><td>{{answers.religion}}</td>
					</tr>
					<tr>
						<td><label class="label label-info">Smokes</label></td><td>{{answers.smoke}}</td>
					</tr>
					<tr>
						<td><label class="label label-info">Body type:</label></td><td>{{answers.body_type}}</td>
					</tr>
					<tr>
						<td><label class="label label-info">Ethnicity:</label></td><td>{{answers.ethnicity}}</td>
					</tr>
					<tr>
						<td><label class="label label-info">Wants children:</label></td><td>{{answers.wants_children}}</td>
					</tr>

				</table>
				<br>
				<!-- If this the logged-in user's profile, allow them to edit it -->
				{% if user.id == request.session.user_id %}
					<a class="btn btn-danger center-block" href="{% url 'dating:edit_user' user_id=request.session.user_id %}">Edit Profile</a>
				{% endif %}
			</div> <!-- #user_answers -->
		</div> <!-- .col -->

		<!-- Right Sidebar -->
		<div id="show_user_right_sidebar" class="col-sm-2">
		<!-- If this is current user's profile, show matches on the right -->
		{% if user.id == request.session.user_id %}
			<h4 class="center">Your Best Matches</h4>
			<div class="row">
				<div class="col-sm-12 user_match">
					<a href="{% url 'dating:show_user' user_id=4 %}">
						<img class="headshot center-block" src="{% static 'dating_app/denzel-washington.jpg' %}" alt="Denzel Washington"><br>
						<h4 class="center">TheDenzelnator187</h4>
					</a>
				</div> <!-- .col -->
			</div><!-- .row -->

			<div class="row">
				<div class="col-sm-12 user_match">
					<a href="show_user/1">
						<img class="headshot center-block" src="{% static 'dating_app/17.jpg' %}" alt="croche314"><br>
						<h4 class="center">croche314</h4>
					</a>
				</div> <!-- .col -->
			</div><!-- .row -->

		{% else %}
		<!-- If not user's profile, show an advertisement -->
		<div class="row">
			<div class="col-sm-12 user_match">
				<h5 class="center">Advertisement</h5>
				<a href="http://codingdojo.com">
					<img class="advertisement center-block" src="{% static 'dating_app/coding_dojo_banner_ad.png' %}" alt="Coding Dojo ad"><br>
				</a>
			</div> <!-- .col -->
		</div><!-- .row -->
		{% endif %}
		</div> <!-- .col (Left Sidebar) -->
	</div> <!-- .row -->

	<!-- Second Row: More Pictures -->
	{% if user.id != request.session.user_id %}
	<div class="row">
		<h4 class="center">More pictures of {{user.username}}</h4>
		{% for i in 'xxxxxxxxxx' %}
		<div class="col-sm-2">
			<a href="{% static 'dating_app/17.jpg' %}">
				<img class="show_user_pic center-block" src="{% static 'dating_app/17.jpg' %}" alt="croche314">
				<br>
			</a>
		</div> <!-- .col -->
		{% endfor %}
	</div> <!-- .row -->
	{% endif %}

	{% if user.id == request.session.user_id %}
	<!-- File upload -->
	<div id="file_upload">
		<form action="{% url 'dating:upload_pic' %}"method="post" enctype="multipart/form-data">
		<h4 class="center">Upload Image</h4>
	    {% csrf_token %}
		    <input type="file" name="user_pic">
		    <input class="btn btn-danger" type="submit" value="Upload">
	  	</form>
	</div>
	  	{% endif %}
	  	<br><br>
</div> <!-- #container-fluid -->
<script>
	$(document).ready(function () {
		$("#toggle_account").toggleSwitch();
		$("#toggle_account").toggleCheckedState("On")

	});
</script>